/* flex helpers */
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* grid helpers */
.grid {
    display: grid;
}

/* routes */
.current-route {
    color: var(--clrSecondary1);
}

/* other */
.hide {
    display: none;
}