.main-content {
    background-color: var(--clrPrimary1);
    padding-block-start: 1.25rem;
    min-height: calc(100vh - var(--headerHeight));
}

.main-content .content-layout {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 300px;
}