:root {
    /* colors */
    --clrPrimary4: #ffffff;
    --clrPrimary3: #e1e0e0;
    --clrPrimary2: #c2c2c2;
    --clrPrimary1: #818181;
    --clrPrimaryBase: #606060;
    --clrPrimary-1: #4F4E4E;
    --clrPrimary-2: #292929;
    --clrPrimary-3: #1d1d1d;
}