:root {
    /* colors */
    --clrPrimary3: #f1f1f1;
    --clrPrimary2: #ffffff;
    --clrPrimary1: #f5f5f5;
    --clrPrimaryBase: #222222;

    --clrSecondary1: #eb3e3e;

    /* fonts */
    --fontPrimary: Helvetica Neue, Helvetica, -apple-system, Segoe UI, Arial, sans-serif;
    --fontSecondary: bebas;

    /* other */
    --headerHeight: 75px;
}